[metadata]
name = <<PROJECT_NAME>>
version = 0.1.0

[options]
py_modules = 
<<PY_MODULES>>

packages = 
<<PACKAGES>>

package_dir = 
    <<PACKAGE_NAME>> = .

include_package_data = True
zip_safe = False 

<<PACKAGE_DATAS>>