{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "jsxSingleQuote": false,
  "printWidth": 120,
  "arrowParens": "avoid",
  "singleAttributePerLine": false,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "auto",
  "tabWidth": 2,
  "bracketSpacing": true,
  "bracketSameLine": false
}
