include openjiuwen_studio/conf/config.yaml
include openjiuwen_studio/conf/config.json
include openjiuwen_studio/ops/conf/default_model_config.yaml
recursive-include openjiuwen_studio/marketplace *.json
