[metadata]
name = openjiuwen-studio-server
version = 0.1.0

[options]
py_modules = 
{{PY_MODULES}}

packages = 
{{PACKAGES}}

package_dir = 
    openjiuwen_studio_server = .

include_package_data = True
zip_safe = False 

[options.package_data]
* = config.yaml
    config.json
openjiuwen_studio_server.ops = conf/default_model_config.yaml
